:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: #2e2f42;
	--grey: #2e2f42;
	--white: #ffffff;
	--dairy: #fcfcfc;

}

/* Reset */
h1,h2,h3,h4,h5,h6,p {margin: 0;}
a {text-decoration: none;
color: currentColor;}
ul {margin: 0; padding: 0; list-style: none;}
img {display: block;}
button {cursor: pointer; color: currentColor;}
li:last-child {margin-bottom: 0;}
.list {list-style: none; padding: 0; margin: 0;
}
.link { text-decoration: none; color: currentColor;
}


/* Other */
.body {font-family: "Roboto", sans-serif; 
color: var(--slate); background-color: var(--white);}

.links:hover, .links:focus {color: var(--ocean); cursor: pointer}

/* Header */

.heder-nav{
margin-right: auto;
}

.adress-link {
color: var(--slate);
}

.adress {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.header-links{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--grey);
}

.web-logo {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris);
margin-right: 76px;
}

.head-studio {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--navy-blue);
}

.container{
width: 1158px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}




/* Header flex elements */
.header-container{
display: flex;
align-items: center;
}
.head-link-style{
display: flex;
align-items: center;
}

/* Studio */

/* Hero image */
.first-sections {
background-color: var(--grey);
padding-top: 188px;
padding-bottom: 188px;
margin-bottom: 120px;

}
.first-title {
font-weight: 700;
font-size: 56px;
text-align: center;
letter-spacing: 0.02em;
line-height: 1.07;
color: var(--white);
width: 496px;
margin: 0 auto;
margin-bottom: 48px;
}

.order-button {font-family: "Roboto", sans-serif;background-color: var(--iris);font-weight: 500;font-size: 16px;line-height: 1.5;display: flex;align-items: center;letter-spacing: 0.04em;color: var(--white);cursor: pointer;margin: 0 auto;border-radius: 4px;/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */padding: 16px 32px;gap: 10px;}
.order-button:hover, .order-button:focus {background-color: var(--ocean);}


/* Section 1 */
.second-sections {
margin-bottom: 120px;
}

.hidden-title {
}

.title-list {
width: 264px;
}

.cards-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navy-blue);
margin-bottom: 8px;
}

.std-paragraph {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}

/* Flex elements section 1*/
.flex-features{
display: flex;
justify-content: center;
flex-direction: row;
gap: 24px;
}

/* Section 2 */
.thrid-sections {
margin-bottom: 120px;
}

.second-title {
font-weight: 700;
font-size: 36px;
text-align: center;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--navy-blue);
margin-bottom: 72px;
}

/* flex elements section 2*/
.studio-image{
display: flex;
justify-content: center;
gap: 24px;
}

/* Section 3 */
.four-sections {
background-color: var(--cloud);
padding: 120px 0;
}

.thrid-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--navy-blue);
margin-bottom: 76px;
}

.photo-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navy-blue);
margin-bottom: 8px;
text-align: center;
}

.photo-text{
text-align: center;
}

.team-list {
background-color: var(--white);
}

/* Flex elements section 3*/
.team-list-container{display: flex;
justify-content: center;
gap: 24px;}

.team-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 32px;
gap: 32px;
width: 264px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.descr-photo{width: 234px; gap: 8px;}

/* Portfolio */

.portfolio-sections {
}
.prtf-hidden-title {
}

.filter-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
text-align: center;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: var(--cloud);
color: var(--iris);
cursor: pointer;
border: 1px solid #E7E9FC;
border-radius: 4px;
}

.filter-button:hover, .filter-button:focus {background-color: var(--ocean); color: var(--white);}

.description {
font-weight: 500;
font-size: 20px;
letter-spacing: 0.02em;
line-height: 1.2;
color: var(--navy-blue);
}

.prtf-paragraph{
font-weight: 400;
font-size: 16px;
letter-spacing: 0.02em;
line-height: 1.5;
color: var(--slate);
}


/* Footer */
.footer {
background-color: var(--navy-blue);
}

.footer-container{
padding: 100px 1020px 100px 156px;
}

.foter-paragraph {
color: var(--cloud);
}

.footer-logo {
width: 264px;
}

.logo-pad{
margin-bottom: 16px;
}

.studio-color {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
line-height: 1.17;
text-transform: uppercase;
color: var(--cloud);
}